<a href="https://colab.research.google.com/github/OsmarHofman/African-Crisis-Data-Mining/blob/master/Entendimento_do_Problema.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

#Conjunto de dados sobre tipos de crises em países africanos

In [1]:
import pandas as pd 
url = 'https://raw.githubusercontent.com/OsmarHofman/African-Crisis-Data-Mining/master/african_crises.csv?token=AKECPJHSFJDJ77WCEIYKBNC53ZSJ2'
df = pd.read_csv(url,header=0, sep=',')
df

      case  cc3   country  ...  currency_crises  inflation_crises  banking_crisis
0        1  DZA   Algeria  ...                0                 0          crisis
1        1  DZA   Algeria  ...                0                 0       no_crisis
2        1  DZA   Algeria  ...                0                 0       no_crisis
3        1  DZA   Algeria  ...                0                 0       no_crisis
4        1  DZA   Algeria  ...                0                 0       no_crisis
...    ...  ...       ...  ...              ...               ...             ...
1054    70  ZWE  Zimbabwe  ...                1                 0          crisis
1055    70  ZWE  Zimbabwe  ...                0                 0       no_crisis
1056    70  ZWE  Zimbabwe  ...                0                 0       no_crisis
1057    70  ZWE  Zimbabwe  ...                0                 0       no_crisis
1058    70  ZWE  Zimbabwe  ...                0                 0       no_crisis

[1059 rows x 14 columns]

##Atributos:
- **case**: Número que representa um país;
- **cc3**: Código de três letras do país;
- **country**: Nome do país;
- **year**: Ano de observação;
- **systemic_crisis**: Indica se ocorreu ou não uma crise sistêmica em determinado ano (0 para não, e 1 para sim);
- **exch_usd**: A taxa de câmbio do país em relação ao dólar;
- **domestic_debt_in_default**: Indica se houve incumprimento da dívida interna soberana ou não em determinado ano (0 para não, e 1 para sim);
- **sovereign_external_debt_default**: Indica se houve incumprimento da dívida externa soberana ou não em determinado ano (0 para não, e 1 para sim);
- **gdp_weighted_default**: Total da dívida inadimplente em relação ao PIB;
- **inflation_annual_cpi**: Taxa anual de inflação do IPC;
- **independence**: Indica se o país é independente ou não (0 para não, e 1 para sim);
- **currency_crises**: Indica se ocorreu ou não uma crise cambial em determinado ano (0 para não, e 1 para sim);
- **inflation_crises**: Indica se ocorreu ou não uma crise de inflação em determinado ano (0 para não, e 1 para sim);
- **banking_crisis**: Indica se ocorreu ou não uma crise bancária em determinado ano (0 para não, e 1 para sim).

##Objetivo:
> O propósito é de tentar prever a **crise sistêmica**(```systemic_crisis```) de determinado país, em um ano, a partir de suas outras informações.